page-event-create {
 
}


.info-wrapper {
  margin: 15px 0px;
  padding: 5px;
}


ion-item {
  margin: 15px 0px;
}


ion-item ion-label {
  color:  rgb(247, 243, 12);
}


ion-textarea  {
unicode-bidi:embed;
direction: auto;

}


ion-item {
  /*text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);*/
}


.create-product-btn {
  margin:  35px 0px;
}



  